<div class="home">
  <div class="quiz">

    <form class="quiz__form" action="">

      <h3 class="quiz__word" class=>{{note.word}}</h3>
      <input name="word" class="quiz__input" type="text" placeholder="tu wpisz odpowiedź... ">
      <p class="quiz__solution"></p>
      <p class="quiz__translate">{{note.translate}}</p>

      <button class="quiz__check primaryBtn">Sprawdź</button>
      <button class="quiz__next primaryBtn" type="submit">Dalej</button>

    </form>

  </div>

</div>