<div class="home">

  <div class="welcome">
    <img src="/img/home-photo-main.png" alt="" class="welcome__img">
    <div class="welcome__content">
      <h1 class="welcome__title">Zapisuj swoje słówka i wyrażenia <i class="fas fa-check fa-check--home"></i> </h1>

      <h1 class="welcome__title">Ucz się ich powtarzając <i class="fas fa-check fa-check--home"></i> </h1>
      <h1 class="welcome__title">Zapamiętaj za pomocą quizu! <i class="fas fa-check fa-check--home"></i></h1>
    </div>
  </div>


</div>