<div class="home instructions">
  <h2 class="instructions__title">Zobacz jak łatwo zacząć</h2>
  <div class="instructions__content">
  
    <div class="instruction">

      <p class="instruction__number">1</p>
      <p class="instruction__content">Jeśli nie posiadasz konta kliknij "Zarejestruj się", jeśli już masz wybierz
        "Zaloguj się"</p>

    </div>

    <div class="instruction">

      <p class="instruction__number">2</p>
      <p class="instruction__content"> Aby dodać pierwszą fiszkę kliknij "Dodaj słówko" w menu. </p>

    </div>

    <div class="instruction">

      <p class="instruction__number">3</p>
      <p class="instruction__content"> Wpisz słówko lub zdanie do nauczenia się, poniżej tłumaczenie i kliknij dodaj.
      </p>

    </div>

    <div class="instruction">

      <p class="instruction__number">4</p>
      <p class="instruction__content">Aby zobaczysz wszystkie swoje fiszki wybierz "Twoje słówka".</p>

    </div>

    <div class="instruction">

      <p class="instruction__number">5</p>
      <p class="instruction__content"> Kliknij przycisk ustawienia aby rozwinąć menu fiszki żeby zmienić jej zawartość
        lub ją usunąć </p>

    </div>

    <div class="instruction">

      <p class="instruction__number">6</p>
      <p class="instruction__content">Aby sprawdzić swoją wiedzę wybierz "Quiz". </p>

    </div>

    <div class="instruction">

      <p class="instruction__number">7</p>
      <p class="instruction__content">Procenty przy każdej fiszce wskazują skuteczność w quizie ze znajomości fiszki.
      </p>

    </div>

  </div>
</div>