<footer class="footer">
  <div class=" footer__logo logo">
    <a class="logo__link" href="/">
    <p class="logo__content">english</p>
    <img src="/img/logo2.svg" alt="" class="logo__img">
    <p class="logo__content">notebook</p>
    </a>
  </div>

  <div class="footer__content">
    <p class="footer__paragraph">© 2019 Łukasz Mioduszewski. All rights reserved</p>
  </div>

  <div class="footer__socials">
    <a target="_blank" class="footer__link" href="https://github.com/lukmio1990"><i class="fab fa-github"></i></a>
    <a  target="_blank" class="footer__link" href="https://www.linkedin.com/in/%C5%82ukasz-mioduszewski-820224173/"><i class="fab fa-linkedin"></i></a>
  </div>
</footer>