{{#if success_msg }}

<div class="success-msg message">
  <p class="success-msg__paragraph message__paragraph">{{success_msg}}</p>
  <button class="success-msg__btn message__btn">zamknij</button>
</div>

{{/if}}

{{#if error_msg }}

<div class="error-msg message">
  <p class="error-msg__paragraph message__paragraph">{{error_msg}}</p>
  <button class="error-msg__btn message__btn">zamknij</button>
</div>
</div>
{{/if}}

{{#if error }}
<div class="error-msg message">
  <p class="error-msg__paragraph message__paragraph">{{error}}</p>
  <button class="error-msg__btn message__btn">zamknij</button>

</div>
{{/if}}