<div class="navi">
  <div class="logo">
    <a class="logo__link" href="/">
    <p class="logo__content">english</p>
    <img src="/img/logo2.svg" alt="" class="logo__img">
    <p class="logo__content">notebook</p>
    </a>
  </div>
  <div class="menu">
    <ul class="menu__list">
      {{#if user}}
      <h1>Witaj {{user.name}}</h1>
      <li class="menu__item"><a class="menu__link" href="/users/logout">Wyloguj się</a></li>
      {{else}}
      <li class="menu__item"><a class="menu__link" href="/users/signin">Zaloguj się</a></li>
      <li class="menu__item"><a class="menu__link" href="/users/signup">Zarejestruj się</a></li>
      {{/if}}
    </ul>
  </div>
</div>