.home {
  @include flex-center;

  min-height: calc(100vh - 160px);
  background-color: $secondary-bgc;
  z-index: -1;
}

.welcome {
  @include flex-center;
  @media (max-width: 1024px) {
    & {
      flex-direction: column;
    }
  }

  &__img {
    height: 50vh;

    @media (max-width: 1024px) {
      & {
        height: 30vh;
        padding-bottom: 20px;
      }
    }
  }

  &__title {
    @media (max-width: 1024px) {
      & {
        padding-top: 20px;
      }
    }

    @media (max-width: 980px) {
      & {
        font-size: 15px;
        padding-top: 20px;
      }
    }

    .fa-check {
      visibility: hidden;
      font-size: 40px;
      color: green;
      @media (max-width: 980px) {
        & {
          font-size: 20px;
        }
      }
    }
  }

  &__btn {
    border: 1px solid $primary-bgc;
    background-color: $primary-bgc;
    font-size: 22px;
    justify-self: center;
    margin: 15px 30px;
    width: 150px;

    @media (max-width: 1024px) {
      & {
        margin: 15px auto;
        font-size: 18px;
      }
    }
  }
}
