.newNote {
  display: flex;
  flex-direction: column;
  background-color: $primary-bgc;
  padding: 35px 40px;
  box-shadow: 0px 0px 21px 0px $primary-bgc;
  margin: 35px 0;

  @media (max-width: 330px) {
    & {
      width: 97vw;
    }
  }

  &__title {
    font-size: 30px;
    color: $primary-color;
    text-align: center;
  }

  &__form {
    @include flex-center;
    flex-direction: column;
    padding: 15px 0;
  }

  &__word,
  &__translate {
    font-size: 15px;
    font-family: $main-font;
    padding: 5px;
    margin-top: 15px;
  }

  &__error {
    color: red;
    padding: 2px;
  }

  &__submit {
    background-color: transparent;
    padding: 12px 35px;
    font-size: 22px;
    margin-top: 20px;
    width: 100%;
  }
}
