.newRule {
  display: flex;
  flex-direction: column;
  background-color: $primary-bgc;
  padding: 35px 40px;
  box-shadow: 0px 0px 21px 0px $primary-bgc;
  margin: 35px 0;

  @media (max-width: 400px) {
    & {
      width: 97vw;
      padding: 18px 10px;
    }
  }

  &__title {
    font-size: 30px;
    color: $primary-color;
    text-align: center;
    margin-bottom: 15px;

    @media (max-width: 330px) {
      & {
        font-size: 25px;
      }
    }
  }

  &__formTitle {
    font-size: 22px;
    padding: 10px;
    font-weight: bold;
  }

  &__rule {
    font-size: 20px;
    padding: 10px;
    margin-top: 15px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__error {
    color: red;
    padding: 2px;
  }

  &__submit {
    background-color: transparent;
    padding: 12px 35px;
    font-size: 22px;
    margin-top: 20px;
    width: 100%;
  }
}
