.newRule {
  display: flex;
  flex-direction: column;
  background-color: $primary-bgc;
  padding: 35px 40px;
  box-shadow: 0px 0px 21px 0px $primary-bgc;
  margin: 35px 0;

  &__title {
    font-size: 30px;
    color: $primary-color;
    text-align: center;
    margin-bottom: 15px;
  }

  &__formTitle {
    font-size: 22px;
    padding: 10px;
    font-weight: bold;
  }

  &__rule {
    font-size: 20px;
    padding: 10px;
    margin-top: 15px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__error {
    color: red;
    padding: 2px;
  }

  &__submit {
    @include flex-center;
    background-color: transparent;
    border: 1px solid $secondary-bgc;
    border-radius: 100px;
    padding: 12px 35px;
    color: $primary-color;
    transition: color 0.3s, background-color 0.3s;
    font-size: 22px;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;

    &:hover {
      background-color: $primary-color;
      color: $secondary-bgc;
    }
  }
}
