.primaryBtn {
  @include flex-center;

  min-width: 140px;
  border: 1px solid $secondary-bgc;
  background-color: transparent;
  border-radius: 100px;
  padding: 15px 12px;
  color: $primary-color;
  font-weight: bold;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: $primary-color;
    color: $secondary-bgc;
  }
}
